body {
	background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(data/images/mountain_view_photo.jpg) no-repeat center fixed;
	background-size: cover;
}

#header {
	background-color: default;
	width: 100%;
	height: 20%;
	text-align: center;
}

#content {
	overflow: hidden;
	background-color: rgba(0,0,0,.7);
	font-size: 16px;
	color: white;
	padding: 42px;
	width: 60%;
	margin: 20px auto;
	border-radius: 8px;
}

#side_section {
	width: 350px;
	padding: 0;
	float: right;
}

#navigation {
	display: flex;
	justify-content: center;
}

#navigation a {
	background-color: rgba(255,255,255);
	font-size: 20px;
	color: black;
	padding: 20px;
	border: 1px black solid;
	border-radius: 5px;
	text-decoration: none;
}

#navigation a:hover{
	background-color: gray;
}

#link1{
	-webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
    -webkit-animation-duration: 12s;
	animation-name: rotate;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
    animation-duration: 12s;
}
#link2{
	-webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 4s;
	animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 12s;
	animation-timing-function: linear;
	animation-delay: 4s;
}
#link3{
	-webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 8s;
	animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 12s;
	animation-timing-function: linear;
	animation-delay: 8s;
}

#content h2{
	text-align: center;
}

#photo {
	width: 100%;
	max-width: 346px;
	height: auto;
	margin-top: 20px;
	border: 1px black solid;
	border-radius: 8px;
}

@keyframes rotate {
  0% {-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		}
  25% {-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
		}
  100% {-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
		}
}